.container{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.13);
    z-index: 10;
}
.data{
    padding: 16px 0;
    /* height: 300px; */
    /* max-height: 300px; */
    /* overflow: auto; */
    
}
.content{
    height: 60%;
    width: 45%;
    background: #fff;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.actions{
    display: flex;
    gap: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    align-items: center;
    padding: 12px 12px;
}
.btn{
    padding: 12px 8px;
    border: none;
    border-radius: 4px;
}
.primary{
    color: #fff;
    background: #0040FF;
}
.form{
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    padding-bottom: 30px;
}
.left{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}
.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.date{
    display: flex;
    gap: 18px;
    width: 100%;
}
.item{
    flex: 1;
    width: 100%;
}
.title{
    font-size: 14px;
    font-weight: 700;
    color:#141ED2 ;
}