.select-box {
    position: relative;
    /* padding-bottom: 8px; */
    padding-top: 12px;
    min-width: 243px;
}
.select:hover .data{
    display: block;
}
.select {
    position: relative;
    font-family: 'Averta Std CY';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 100%x;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding-left: 12px;
    position: relative;
    color: rgba(0, 0, 0, 0.7);

}

.big {
    height: 56px;
}

.normal {
    height: 48px;
}

.small {
    height: 40px;
}

.input-normal {
    padding-top: 4px;
}

.input-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 4px; */
}

.error {
    border: 1px solid var(--danger);
    color: var(--danger);
}

.title-error {
    color: var(--danger);
}

.input {
    width: 100%;
}

.label {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
    padding-top: 4px;

}

.value-error {
    color: var(--danger);

}

.value {

    max-width: 65%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* padding-top: 2px; */
}

.data {
    position: absolute;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.7);
    left: 0;
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 4px rgb(0 0 0 / 4%), 4px 4px 8px rgb(0 0 0 / 6%);
    border-radius: 4px;
    
    overflow-y: scroll;
    max-height: 270px;
    z-index: 100;
    display: none;
}

.ps-small {
    top: 40px;
}

.ps-normal {
    top: 47px;
}

.data::-webkit-scrollbar {
    width: 5px;
}

.data::-webkit-scrollbar-thumb {
    background-color: #d7d7d7;
    border-radius: 50px;
}

.data-item {
    padding: 16px 0;
    padding-left: 20px;
    cursor: pointer;

}

.icon {
    padding-right: 12px;
    padding-top: 10px;
}

.data-item:hover {
    background: #F7F8FC;
}

.title {
    padding-bottom: 8px;
    font-size: 14px;

    display: block;
    padding-top: 4px;
}



.register {
    width: 302px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    outline: none;
    padding-right: 12px;
}

.span-error {
    position: absolute;
    bottom: -20px;
    left: 0px;
    font-size: 13px;
    color: #FF3300;

}

.title {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.7);
}